@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f9d29d;
    background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    font-family: "Poppins", sans-sefir;
    font-size: x-large;

}

h2 {
    padding: 1rem;
}

.quiz-container {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(red, green, blue, alpha);
    width: 600px;
    max-width: 100%;

}

.quiz-header {
    padding: 2rem;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    font-family: cursive;
}

ul li{
    font-size: 1.3rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}
button {
    background-color: #7a76d5;
    display: block;
    color: #FFFFFF;
    width: 100%;
    padding: 1.3rem;
    cursor: pointer;
    font-family: inherit;
    font-size: xx-large;
    border: none;
}

button:hover {
    background-color: #35318a;
}